/**********************
    General Styles
***********************/
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif; }

.heading {
  background: #363940;
  color: #fff;
  text-align: center;
  margin: 16px 0; }
  .heading.achieve {
    color: #070809;
    background: none;
    text-align: center;
    font-size: 2em; }
    @media (min-width: 650px) {
      .heading.achieve {
        text-align: left; } }
  .heading.achieve.single-post {
    text-align: center; }

.icon {
  width: 48px;
  height: 48px;
  fill: #363940; }

.container {
  max-width: 1224px;
  margin: 0 auto; }

a {
  color: #0095cc; }

.btn {
  padding: 8px 16px;
  background: #363940;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
  margin: 16px 0;
  transition: opacity 100ms ease-in-out;
  display: block;
  text-align: center; }
  .btn:hover, .btn:focus {
    opacity: 0.8; }

@media (min-width: 600px) {
  .btn {
    font-size: 1.2em; } }
@media (min-width: 900px) {
  .btn {
    font-size: 1.5em; } }
/**********************
    End Of General Styles
***********************/
/**********************
    Header
***********************/
header {
  position: relative;
  padding: 0 8px; }
  header .icon {
    width: 32px;
    height: 32px;
    padding: 8px; }
  header:after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  header .container {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    header .container .logo-container {
      order: 1;
      margin-right: auto; }
      header .container .logo-container .logo {
        width: 60px;
        height: 60px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto; }
    header .container .menu-toggler-container {
      order: 3;
      margin-top: 4px; }
      header .container .menu-toggler-container .menu-label {
        display: none; }
    header .container .search-box-container {
      order: 2;
      display: flex;
      align-items: center;
      position: relative; }
      header .container .search-box-container .search-box {
        position: absolute;
        right: 100%;
        display: flex; }
        header .container .search-box-container .search-box input {
          padding: 8px;
          background: none;
          border: none;
          outline: none;
          margin: 0;
          background: white;
          border-radius: 4px; }
        header .container .search-box-container .search-box:after {
          display: block;
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #363940;
          border-radius: 8px; }

@media (min-width: 500px) {
  header .container .menu-toggler-container {
    order: 0; }
  header .container .logo-container {
    order: 1;
    margin: 0 auto; }

  .search-box input {
    font-size: 1.2em; } }
@media (min-width: 600px) {
  header .container .logo-container .logo {
    width: 100px;
    height: 100px; } }
@media (min-width: 700px) {
  header .icon {
    width: 40px;
    height: 40px;
    padding: 0; } }
@media (min-width: 900px) {
  header .container .logo-container .logo {
    width: 150px;
    height: 150px; }

  header .container .menu-toggler-container {
    display: flex;
    align-items: center;
    justify-content: center; }
    header .container .menu-toggler-container .menu-label {
      display: block;
      font-size: 1.2em;
      margin-left: 8px; }
      header .container .menu-toggler-container .menu-label::selection {
        background: none; } }
@media (min-width: 1000px) {
  header .container .logo-container .logo {
    width: 250px;
    height: 250px; } }
/**********************
    End Of Header
***********************/
/**********************
    Main Menu
***********************/
nav.main-menu {
  position: relative;
  margin-bottom: 16px; }
  nav.main-menu ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 8px;
    max-width: 1224px;
    margin: 0 auto; }
    nav.main-menu ul a {
      text-decoration: none;
      color: #363940;
      text-transform: uppercase; }
    nav.main-menu ul .menu-item {
      padding: 4px 0; }
      nav.main-menu ul .menu-item.active a {
        color: black;
        font-size: 1.2em; }
      nav.main-menu ul .menu-item:hover a {
        color: #b5b8c0; }
  nav.main-menu:after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

@media (min-width: 500px) {
  nav.main-menu ul {
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    nav.main-menu ul .menu-item {
      padding: 8px; } }
@media (min-width: 900px) {
  .menu-item a {
    font-size: 1.2em; }

  nav.main-menu ul .menu-item.active a {
    font-size: 1.3em; } }
/**********************
    End Of Main Menu
***********************/
/**********************
    Featured Posts
***********************/
.main-content {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  padding: 16px;
  max-width: 1224px; }
  .main-content .primary-featured-post {
    border-radius: 4px;
    background-image: url("../../resources/images/rv-mistakes-1024x341.jpg");
    background-repeat: no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main-content .primary-featured-post h2 {
      color: white;
      font-size: 1.5em;
      text-align: center;
      text-shadow: 1px 1px 1px black; }
  .main-content .secondary-featured-posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0; }
    .main-content .secondary-featured-posts-container .secondary-featured-post {
      margin: 8px;
      width: 100%;
      height: 200px;
      border-radius: 2px;
      background-image: url("../../resources/images/rv-mistakes-1024x341.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative; }
      .main-content .secondary-featured-posts-container .secondary-featured-post a {
        background: rgba(54, 57, 64, 0.8);
        text-decoration: none;
        color: #fff;
        text-align: center;
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 9.6px 16px;
        box-sizing: border-box; }
        .main-content .secondary-featured-posts-container .secondary-featured-post a:hover, .main-content .secondary-featured-posts-container .secondary-featured-post a:focus {
          opacity: 0.8; }
      @media (min-width: 350px) {
        .main-content .secondary-featured-posts-container .secondary-featured-post {
          height: 250px; }
          .main-content .secondary-featured-posts-container .secondary-featured-post a {
            font-size: 1.2em; } }
      @media (min-width: 450px) {
        .main-content .secondary-featured-posts-container .secondary-featured-post {
          height: 300px; }
          .main-content .secondary-featured-posts-container .secondary-featured-post a {
            font-size: 1.4em; } }
    @media (min-width: 300px) {
      .main-content .secondary-featured-posts-container {
        padding: 16px;
        border-radius: 4px; } }
    @media (min-width: 660px) {
      .main-content .secondary-featured-posts-container {
        flex-direction: row; }
        .main-content .secondary-featured-posts-container .secondary-featured-post {
          height: 250px; }
          .main-content .secondary-featured-posts-container .secondary-featured-post:nth-child(3) {
            display: none; } }
    @media (min-width: 985px) {
      .main-content .secondary-featured-posts-container .secondary-featured-post:nth-child(3) {
        display: block; } }
    @media (min-width: 1224px) {
      .main-content .secondary-featured-posts-container {
        padding-left: 0;
        padding-right: 0; }
        .main-content .secondary-featured-posts-container .secondary-featured-post:nth-child(1) {
          margin-left: 0; }
        .main-content .secondary-featured-posts-container .secondary-featured-post:nth-child(3) {
          margin-right: 0; } }

@media (min-width: 500px) {
  .main-content .primary-featured-post {
    height: 300px; }
    .main-content .primary-featured-post h2 {
      font-size: 1.8em; } }
@media (min-width: 600px) {
  .main-content .primary-featured-post {
    height: 300px; }
    .main-content .primary-featured-post h2 {
      font-size: 2em; } }
@media (min-width: 900px) {
  .main-content .primary-featured-post {
    height: 400px; }
    .main-content .primary-featured-post h2 {
      font-size: 2.4em; } }
/**********************
    End of Featured Posts
***********************/
/**********************
    Content : Post & Sidebar
***********************/
.posts-sidebar-container {
  display: flex;
  flex-direction: column;
  max-width: 1224px;
  margin: 0 auto; }
  .posts-sidebar-container .posts {
    max-width: 750px; }
  @media (min-width: 1000px) {
    .posts-sidebar-container {
      flex-direction: row; }
      .posts-sidebar-container .side-bar {
        max-width: 30%; }
        .posts-sidebar-container .side-bar:after {
          content: '';
          display: block;
          height: 40%;
          width: 2px;
          position: absolute;
          top: 0;
          left: -4%;
          box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1); }
      .posts-sidebar-container .posts {
        margin-right: 16px;
        max-width: 70%; } }

/**********************
    End of Content : Post & Sidebar
***********************/
/**********************
    Sidebar
***********************/
.side-bar {
  position: relative; }
  .side-bar .about-us .author-image {
    width: 200px;
    height: 200px;
    margin: 8px auto;
    border-radius: 50%;
    display: block; }
  .side-bar .about-us .author-description {
    text-align: center;
    padding: 0 16px;
    max-width: 600px;
    margin: 0 auto; }

/**********************
    End of Sidebar
***********************/
/**********************
    Posts
***********************/
.post {
  margin: 32px 0; }
  .post .post-image {
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 8px 0; }
  .post .post-title {
    padding: 8px 16px;
    text-align: center;
    font-size: 1.2em; }
  .post .post-excerpt {
    padding: 0 16px;
    text-align: center;
    font-size: 1em; }
  .post .btn {
    margin: 8px auto;
    width: 80px;
    margin-bottom: 16px; }
  @media (min-width: 400px) {
    .post .post-image {
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 4px; } }
  @media (min-width: 650px) {
    .post {
      display: flex;
      align-items: flex-start; }
      .post .post-title {
        text-align: left; }
      .post .post-excerpt {
        text-align: left; }
      .post .btn {
        margin-left: 16px;
        font-size: 1em; } }

.pagination-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px; }
  .pagination-links .page-links-container {
    display: none; }
  .pagination-links .pagination-link {
    margin: 4px;
    text-decoration: none;
    color: #363940;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 8px 16px; }
    .pagination-links .pagination-link.hide {
      opacity: 0; }
    .pagination-links .pagination-link.active {
      border-color: rgba(0, 0, 0, 0.5);
      color: #070809; }
  @media (min-width: 490px) {
    .pagination-links .page-links-container {
      display: block; } }

/**********************
    End of Posts
***********************/
/**********************
    Footer
***********************/
footer {
  position: relative;
  padding: 24px; }
  footer:before {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  footer p {
    text-align: center;
    color: #363940; }

/**********************
    End Of Footer
***********************/
/**********************
    Single Post Detail
***********************/
.meta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 16px 0; }
  .meta li {
    color: rgba(54, 57, 64, 0.7);
    margin: 1.6px 0; }
    .meta li:first-child {
      list-style: none; }
  @media (min-width: 500px) {
    .meta {
      flex-direction: row; }
      .meta li {
        margin-left: 16px;
        margin-right: 16px; } }

.single-post .single-post-image {
  width: 100%;
  margin: 16px 0;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
.single-post .single-post-content {
  margin: 32px 0; }
.single-post hr {
  opacity: 0.5; }
@media (min-width: 400px) {
  .single-post .single-post-image {
    height: 300px; } }
@media (min-width: 600px) {
  .single-post .single-post-image {
    height: 400px; } }
@media (min-width: 1100px) {
  .single-post .single-post-image {
    height: 500px; } }

/**********************
    End Of Single Post Detail
***********************/

/*# sourceMappingURL=main.css.map */
