$max-width: 1224px;
$para-max-width: 600px;
$accent-color: #363940;
$text-color: #363940;
$white : #fff;
$link-color: #0095cc;
$heading-font: 'Roboto Condensed', sans-serif;
$text-font: 'Libre Franklin', sans-serif;


@function get-gutter($x) {
    @return $x*8px;
}


/**********************
    General Styles
***********************/
* {
    padding: 0;
    margin: 0;
    font-family: $heading-font;
}

.heading{
    background: $accent-color;
    color: $white;
    //padding: get-gutter(1);
    text-align: center;
    margin: get-gutter(2) 0;

    &.achieve{
        color: darken($text-color,20);
        background: none;
        text-align: center;
        font-size: 2em;

        @media  (min-width: 650px){
            text-align: left;
        }
    }

    &.achieve.single-post{
        text-align: center;
    }
}

.icon {
    width: 48px;
    height: 48px;
    fill: $accent-color;
}

.container {
    max-width: $max-width;
    margin: 0 auto;
}

a{
    color: $link-color;
}

.btn{
    padding: get-gutter(1) get-gutter(2);
    background: $accent-color;
    color: $white;
    text-decoration: none;
    border-radius: 2px;
    margin: get-gutter(2) 0;
    transition: opacity 100ms ease-in-out;
    display: block;
    text-align: center;
    &:hover,&:focus{
        opacity: 0.8;
    }
}

@media (min-width: 600px){
    .btn{
        font-size: 1.2em;
    }
}
@media (min-width: 900px) {
    .btn{
        font-size: 1.5em;
    }
}

/**********************
    End Of General Styles
***********************/
















/**********************
    Header
***********************/

header {
    position: relative;
    padding: 0 get-gutter(1);

    .icon {
        width: 32px;
        height: 32px;
        padding: get-gutter(1);
    }
    &:after {
        content: '';
        display: block;
        //background: red;
        height: 2px;
        width: 100%;
        position: absolute;
        //top: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 1px 2px rgba(black, 0.2);
    }

    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .logo-container {
            order: 1;
            margin-right: auto;

            .logo {
                width: 60px;
                height: 60px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin-left: auto;
            }
        }

        .menu-toggler-container {
            order: 3;
            margin-top: get-gutter(0.5);
            .menu-label {
                display: none
            }
        }

        .search-box-container {
            order: 2;
            display: flex;
            align-items: center;
            position: relative;

            .search-box {
                position: absolute;
                right: 100%;
                display: flex;

                input {
                    padding: get-gutter(1);
                    background: none;
                    border: none;
                    outline: none;
                    margin: 0;
                    background: white;
                    border-radius: 4px;
                }

                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $accent-color;
                    border-radius: get-gutter(1);
                }
            }
        }

    }
}


@media (min-width: 500px) {

    header .container{
        .menu-toggler-container{
            order: 0 ;
        }
        .logo-container{
            order: 1;
            margin: 0 auto;
        }
    }

    .search-box input{
       font-size: 1.2em;
   }
}
@media (min-width: 600px) {
    header .container .logo-container .logo{
        width: 100px;
        height: 100px;
    }

}

@media (min-width: 700px) {
    header .icon{
        width: 40px;
        height: 40px;
        padding: 0;
    }

}


@media (min-width: 900px) {
    header .container .logo-container .logo{
        width: 150px;
        height: 150px;
    }

    header .container .menu-toggler-container{
        display: flex;
        align-items: center;
        justify-content: center;

        .menu-label{
            display: block;
            font-size: 1.2em;
            margin-left: get-gutter(1);
            &::selection{
                background: none;
            }

        }
    }



}


@media (min-width: 1000px) {
    header .container .logo-container .logo{
        width: 250px;
        height: 250px;
    }

}

/**********************
    End Of Header
***********************/

















/**********************
    Main Menu
***********************/
nav.main-menu {
    position: relative;
    margin-bottom: get-gutter(2);

    ul {
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: get-gutter(1);
        max-width: $max-width;
        margin: 0 auto;

        a {
            text-decoration: none;
            color: $text-color;
            text-transform: uppercase;
        }

        .menu-item {
            padding: get-gutter(0.5) 0;

            &.active a {

                color: darken($text-color, 40%);
                font-size: 1.2em;
            }

            &:hover a {
                color: lighten($text-color, 50%);
            }
        }


    }

    &:after {
        content: '';
        display: block;
        //background: red;
        height: 2px;
        width: 100%;
        position: absolute;
        //top: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 1px 2px rgba(black, 0.2);
    }
}

@media (min-width: 500px){
    nav.main-menu ul{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .menu-item{
            padding: get-gutter(1);

        }
    }
}

@media (min-width: 900px) {
    .menu-item a{
        font-size: 1.2em;
    }
    nav.main-menu ul .menu-item.active a{
        font-size: 1.3em;
    }


}

/**********************
    End Of Main Menu
***********************/




















/**********************
    Featured Posts
***********************/

.main-content{
    display: flex;
    flex-direction: column;
    margin: get-gutter(2) auto;
    padding: get-gutter(2);
    max-width: $max-width;

   // Featured Posts
   .primary-featured-post{
        border-radius: 4px;
        background-image: url("../../resources/images/rv-mistakes-1024x341.jpg");
        background-repeat: no-repeat;
        height: 200px;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            color: white;
            font-size: 1.5em;
            text-align: center;
            text-shadow: 1px 1px 1px black;
        }
    }
    .secondary-featured-posts-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: get-gutter(2) 0;


        .secondary-featured-post{
            margin: get-gutter(1);
            width: 100%;
            height: 200px;
            border-radius: 2px;
            background-image: url("../../resources/images/rv-mistakes-1024x341.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;

            a{
                background: rgba($accent-color, 0.8);
                text-decoration: none;
                color: $white;
                text-align: center;
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: get-gutter(1.2) get-gutter(2);
                box-sizing: border-box;

                &:hover, &:focus{
                    opacity: 0.8;
                }
            }

            @media (min-width: 350px){
                height: 250px;
                a{
                    font-size: 1.2em;
                }
            }
            @media (min-width: 450px){
                height: 300px;
                a{
                    font-size: 1.4em;
                }
            }

        }

        @media (min-width: 300px) {
            padding: get-gutter(2);
            border-radius: 4px;
        }
        @media (min-width: 660px) {
            flex-direction: row;
            //flex-wrap: wrap;
                .secondary-featured-post{
                    height: 250px;
                    &:nth-child(3){
                        display: none;
                    }
                }


        }
        @media (min-width: 985px) {
            .secondary-featured-post{
                &:nth-child(3){
                    display: block;
                }
            }


        }
        @media (min-width: $max-width) {
            padding-left: 0 ;
            padding-right: 0;
            .secondary-featured-post{
                &:nth-child(1){
                    margin-left: 0;
                }
                &:nth-child(3){
                    margin-right: 0;
                }
            }
        }

    }

}

@media (min-width: 500px){
    .main-content{

        .primary-featured-post {
            height: 300px;
            h2{
                font-size: 1.8em;
            }
        }
    }
}

@media (min-width: 600px){
    .main-content{
        .primary-featured-post {
            height: 300px;
            h2{
                font-size: 2em;
            }
        }
    }

}

@media (min-width: 900px){
    .main-content{
        .primary-featured-post {
            height: 400px;
            h2{
                font-size: 2.4em;
            }
        }
    }
}



/**********************
    End of Featured Posts
***********************/

















/**********************
    Content : Post & Sidebar
***********************/
.posts-sidebar-container{
    display: flex;
    flex-direction: column;
    max-width: $max-width;
    margin: 0 auto;
    .posts{
        max-width: 750px;
    }

    @media  (min-width: 1000px){
        flex-direction: row;

        .side-bar{
            max-width: 30%;

            &:after {
                content: '';
                display: block;
                //background: red;
                height: 40%;
                width: 2px;
                position: absolute;
                //top: 0;
                top: 0;
                left: -4%;
                box-shadow: 1px 0 2px rgba(black, 0.1);
            }
        }
        .posts{
            margin-right: get-gutter(2);
            max-width: 70%;
        }
    }

}

/**********************
    End of Content : Post & Sidebar
***********************/















/**********************
    Sidebar
***********************/
.side-bar{
    position: relative;

    .about-us{

        .author-image{
            width: 200px;
            height: 200px;
            margin: get-gutter(1) auto;
            border-radius: 50%;
            display: block;
        }
        .author-description{
            text-align: center;
            padding: 0 get-gutter(2);
            max-width: $para-max-width;
            margin: 0 auto ;
        }



    }



}
/**********************
    End of Sidebar
***********************/












/**********************
    Posts
***********************/
.post{
    margin: get-gutter(4) 0;
    .post-image{
        width: 100%;
        height: 180px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: get-gutter(1) 0;
    }
    .post-title{
        padding: get-gutter(1) get-gutter(2);
        text-align: center;
        font-size: 1.2em;
    }
    .post-excerpt{
        padding: 0 get-gutter(2);
        text-align: center;
        font-size: 1em;
    }
    .btn{
        margin: get-gutter(1) auto;
        width: 80px;
        margin-bottom: get-gutter(2);

    }

    @media (min-width: 400px) {
        .post-image{
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 4px;

        }
    }

    @media  (min-width: 650px){
        display: flex;
        align-items: flex-start;

        .post-title{
            text-align: left;
        }
        .post-excerpt{
            text-align: left;
        }
        .btn{
            margin-left: get-gutter(2);
            font-size: 1em;
        }

    }
}
.pagination-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: get-gutter(2);
    .page-links-container{
        display: none;
    }

    .pagination-link{
        margin: get-gutter(0.5);
        text-decoration: none;
        color: $text-color;
        border: 1px solid rgba(black, 0.1);
        border-radius: 4px;
        padding: get-gutter(1) get-gutter(2);
        &.hide{
            opacity: 0;
        }
        &.active{
            border-color: rgba(black, 0.5);
            color: darken($text-color, 20%);
        }

    }

    @media  (min-width: 490px){
        .page-links-container{
            display: block;
        }
    }
}
/**********************
    End of Posts
***********************/












/**********************
    Footer
***********************/
footer{
    position: relative;
    padding: get-gutter(3);
    &:before {
        content: '';
        display: block;
        //background: red;
        height: 2px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0 1px 2px rgba(black, 0.2);
    }
    p{
        text-align: center;
        color: $text-color;
    }
}
/**********************
    End Of Footer
***********************/






/**********************
    Single Post Detail
***********************/
.meta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: get-gutter(2) 0;
    li{
        color: rgba($text-color,0.7);
        margin: get-gutter(0.2) 0;
        &:first-child{
            list-style: none;
        }
    }

    @media  (min-width: 500px){
        flex-direction: row;
        li{
            margin-left: get-gutter(2);
            margin-right: get-gutter(2);

        }
    }
}

.single-post{
    .single-post-image{
        width: 100%;
        margin: get-gutter(2) 0;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .single-post-content{
        margin: get-gutter(4) 0;
    }
    hr{
        opacity: 0.5;

    }

    @media  (min-width: 400px){
        .single-post-image{
            height: 300px;
        }

    }
    @media  (min-width: 600px){
        .single-post-image{
            height: 400px;
        }

    }
    @media  (min-width: 1100px){
        .single-post-image{
            height: 500px;
        }

    }
}


.recent-posts{


}

/**********************
    End Of Single Post Detail
***********************/


